header {
    background-color: #00d0ff;
    width: 100%;
    height: 50px;
}

footer {
    background-color: #b6b6b6;
    width: 100%;
    height: 50px;
}

#C11 {
    background-color: rgb(100, 182, 50);
}
#C12 {
    background-color: rgb(100, 152, 50);
}
#C13 {
    background-color: rgb(100, 122, 50);
}
#C14 {
    background-color: rgb(100, 92, 50);
}
#C21 {
    background-color: rgb(120, 182, 220);
}
#C22 {
    background-color: rgb(150, 152, 220);
}
#C23 {
    background-color: rgb(180, 122, 220);
}
#C24 {
    background-color: rgb(210, 92, 220);
}
#C31 {
    background-color: rgb(140, 182, 110);
}
#C32 {
    background-color: rgb(170, 152, 110);
}
#C33 {
    background-color: rgb(200, 122, 110);
}
#C34 {
    background-color: rgb(230, 92, 110);
}
#C41 {
    background-color: rgb(160, 182, 40);
}
#C42 {
    background-color: rgb(190, 152, 30);
}
#C43 {
    background-color: rgb(220, 122, 20);
}
#C44 {
    background-color: rgb(250, 92, 10);
}
